<footer>
    
    fanzine do contra com cultura: uma outra cena de <a href="https://www.ospositivos.com/2018/05/previously-xiii.html">banda desenhada</a> desalinhada desdenhada de propaganda punk veggie anti-nazi com humor &amp; depressão q/b
    
    <div id="mc_embed_signup">
        <form action="https://ospositivos.us2.list-manage.com/subscribe/post?u=fb6c5fa7a252e2f3f153d3e6b&amp;id=f1d1e2deb3" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="novalidate" style="margin:0 auto; max-width:100%;" target="_blank">
            <input class="required email" id="mce-EMAIL" name="EMAIL" value="" type="email">
            <input id="mc-embedded-subscribe" name="subscribe" style="border-radius:0;" value="Subscrever newsletter" type="submit">
    
            <div class="clear" id="mce-responses">
                <div class="response" id="mce-error-response" style="display:none">
                </div>
                <div class="response" id="mce-success-response" style="display:none">
                </div>
            </div>
            
            <div style="position: absolute; left: -5000px;">
                <input name="b_fb6c5fa7a252e2f3f153d3e6b_e75182a646" value="" type="text">
            </div>
        </form>
    </div>
    
    <span style="text-transform: uppercase;letter-spacing: 3px;">comix<span style="color:red">@</span>ospositivos.com</span>
    
</footer>
